@CHARSET "UTF-8";


 	.error {
 		color: red;

 	}
    
     p.error {
 		color: blue;

 	}
 	
 	div span {
 		border: 1px solid black;
 	}
 	
 	#main {
 		background-color: yellow;
 	}